<!doctype html>
<html lang="en">
  <head>
    <%- include('./parcials/head.ejs') %>
  </head>
  <body>
    <%- include('./parcials/navbar.ejs') %>

    <div class="conatiner mt-3">
       <h2> <%= blog.title %> </h2>
       <img src="<%= blog.coverimage %>" width="700px" class="mt-3">
       <pre class="mt-4"> <%= blog.body %> </pre>
    </div>
    <div class="container mt-3">
        <img src="<%= blog.createdBy.profileImageUrl %>" width="50px"><%=blog.createdBy.fullname %>
    </div>

    <div class="container mt-4">
        <h1>Comments    (<%= comments.length %>)</h1>
        <% if (locals.user) { %>
            <form action="/blog/comment/<%= blog.id %>" method="POST">
                <div class="mb-3">
                  <input type="text" class="form-control" id="content" name="content" required placeholder="Enter Your Comment" aria-describedby="titleHelf">
                </div>
                <button type="submit" class="btn btn-primary">Comment</button>
              </form>  
        <% } %>

        <% comments.forEach(comment => { %>
            <img src="<%= comment.createdBy.profileImageUrl %>" width="50px">
            <%= comment.createdBy.fullname %>
            <pre><%= comment.content %></pre>
        <% }) %>
          
    </div>
    
    <%- include('./parcials/script.ejs') %>
  </body>
</html>